@font-face {
  font-family: 'Iosevka Custom Nerd Font';
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: url(iosevka-custom-nerd-font.ttf) format('truetype');
}

html {
  font-family: 'Iosevka Custom Nerd Font', sans-serif !important;
}

body {
  font-family: 'Iosevka Custom Nerd Font', sans-serif !important;
}
